<a href="https://colab.research.google.com/github/lisabroadhead/machine-learning/blob/main/may_22_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf 
import pandas as pd
import numpy as np

In [ ]:
# filename = '/content/drive/MyDrive/Colab Notebooks/coding_dojo/week1/files/bostonHousing1978.csv'
filename = '/content/drive/MyDrive/Colab Notebooks/coding_dojo/week1/files/mortgages.csv'
df = pd.read_csv(filename)

In [ ]:
df.head(2)

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             1080 non-null   int64
 1   Starting Balance  1080 non-null   float64
 2   Repayment         1080 non-null   float64
 3   Interest Paid     1080 non-null   float64
 4   Principal Paid    1080 non-null   float64
 5   New Balance       1080 non-null   float64
 6   Mortgage Name     1080 non-null   object
 7   Interest Rate     1080 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 67.6+ KB

In [ ]:
# df[['RM']].head()
# df['RM'].head()
# df[['RM']]
# df[['RM']]
# df['RM']
df.loc[5:10,['RM']].head

In [ ]:
df['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [ ]:
mortgage_filter = df['Mortgage Name'] == '30 Year'

In [ ]:
mortgage_filter.head()

0    True
1    True
2    True
3    True
4    True
Name: Mortgage Name, dtype: bool

In [ ]:
# df[df['Mortgage Name'] == '30 Year']
# df[mortgage_filter].head()
df[mortgage_filter].value_counts()

Month  Starting Balance  Repayment  Interest Paid  Principal Paid  New Balance  Mortgage Name  Interest Rate
1      400000.00         1686.42    1000.00        686.42           399313.58   30 Year        0.03             1
237    207606.73         2147.29    865.02         1282.27          206324.46   30 Year        0.05             1
238    206324.46         2147.29    859.68         1287.61          205036.85   30 Year        0.05             1
239    177135.58         1686.42    442.83         1243.59          175891.99   30 Year        0.03             1
       205036.85         2147.29    854.32         1292.97          203743.88   30 Year        0.05             1
                                                                                                               ..
121    325366.93         2147.29    1355.69        791.60           324575.33   30 Year        0.05             1
122    303151.77         1686.42    757.87         928.55           302223.22   30 Year        0.03             1
       324575.33         2147.29    1352.39        794.90           323780.43   30 Year        0.05             1
123    302223.22         1686.42    755.55         930.87           301292.35   30 Year        0.03             1
360    2131.24           2147.29    8.88           2138.41         -7.17        30 Year        0.05             1
Length: 720, dtype: int64

In [ ]:
df = df.loc[mortgage_filter, :]
# df
df.value_counts()

Month  Starting Balance  Repayment  Interest Paid  Principal Paid  New Balance  Mortgage Name  Interest Rate
1      400000.00         1686.42    1000.00        686.42           399313.58   30 Year        0.03             1
237    207606.73         2147.29    865.02         1282.27          206324.46   30 Year        0.05             1
238    206324.46         2147.29    859.68         1287.61          205036.85   30 Year        0.05             1
239    177135.58         1686.42    442.83         1243.59          175891.99   30 Year        0.03             1
       205036.85         2147.29    854.32         1292.97          203743.88   30 Year        0.05             1
                                                                                                               ..
121    325366.93         2147.29    1355.69        791.60           324575.33   30 Year        0.05             1
122    303151.77         1686.42    757.87         928.55           302223.22   30 Year        0.03             1
       324575.33         2147.29    1352.39        794.90           323780.43   30 Year        0.05             1
123    302223.22         1686.42    755.55         930.87           301292.35   30 Year        0.03             1
360    2131.24           2147.29    8.88           2138.41         -7.17        30 Year        0.05             1
Length: 720, dtype: int64

In [ ]:
interest_filter = df['Interest Rate'] != .03 
# df[interest_filter]
df[interest_filter].value_counts()

Month  Starting Balance  Repayment  Interest Paid  Principal Paid  New Balance  Mortgage Name  Interest Rate
1      400000.00         2147.29    1666.66        480.63           399519.37   30 Year        0.05             1
248    193204.24         2147.29    805.01         1342.28          191861.96   30 Year        0.05             1
246    195872.11         2147.29    816.13         1331.16          194540.95   30 Year        0.05             1
245    197197.75         2147.29    821.65         1325.64          195872.11   30 Year        0.05             1
244    198517.89         2147.29    827.15         1320.14          197197.75   30 Year        0.05             1
                                                                                                               ..
119    326940.28         2147.29    1362.25        785.04           326155.24   30 Year        0.05             1
118    327722.07         2147.29    1365.50        781.79           326940.28   30 Year        0.05             1
117    328500.61         2147.29    1368.75        778.54           327722.07   30 Year        0.05             1
116    329275.92         2147.29    1371.98        775.31           328500.61   30 Year        0.05             1
360    2131.24           2147.29    8.88           2138.41         -7.17        30 Year        0.05             1
Length: 360, dtype: int64