<a href="https://colab.research.google.com/github/lisabroadhead/machine-learning/blob/main/renaming_deleting_and_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [132]:
import pandas as pd

In [133]:
filename = '/content/drive/MyDrive/Colab Notebooks/coding_dojo/files/RailsToTrails_National Count Data_week.xlsx'
df = pd.read_excel(filename)

In [134]:
df.head()
# df.info()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [135]:
df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Unnamed: 6                     0
Unnamed: 7                    52
Unnamed: 8                    51
Unnamed: 9                    51
dtype: int64

# 1. Delete the unnecessary columns: Unnamed: 7, Unnamed: 8, Unnamed: 9

In [136]:
df.drop(columns="Unnamed: 7", inplace=True)
df.drop(columns="Unnamed: 8", inplace=True)
df.drop(columns="Unnamed: 9", inplace=True)

In [137]:
# df.head()
df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Unnamed: 6                     0
dtype: int64

# 2. Rename the Unnamed: 6 column to percent_change.

In [138]:
df = df.rename(columns={'Unnamed: 6': 'percent_change'})

In [139]:
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

# 3. How many missing values are in the dataset? Which columns are they in?

In [140]:
df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

# 4. Fill all missing values in the 2021 Counts column with 0.

In [141]:
df['2021 Counts'].fillna(0, inplace=True)

In [145]:
# df.head()
df.isna().sum()

2019 counts (31 counters)
Timeframe                     0
Week of                       0
 2019 counts (31 counters)    0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
percent_change                0
dtype: int64

# 5. Optional/Bonus: There is a challenging but common issue in the name for the 2019 counts column. Can you find it? If so, Rename the 2019 counts (31 counters) column to "counts_2019" (a more Pythonic column name).

In [143]:
df.columns.rename('2019 counts (31 counters)', 'counts_2019')

In [154]:
df.columns = ['Timeframe',
              'week_of',
              '2019_counts',
              '2020 counts (31 counters)',          
              '2021_Counts',
              'Change_2019-2020',
              'percent_change']

In [155]:
# df.info()
df.head()

,Timeframe,week_of,2019_counts,2020 counts (31 counters),2021_Counts,Change_2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602