<a href="https://colab.research.google.com/github/lisabroadhead/machine-learning/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic 
Pandas Exercises on the Titanic Dataset (Core)

- Lisa Broadhead
- May 26, 2022

*Notes:* First completed the assigment. Then I went through and cleaned it up to 1-2 lines of code, trying to use builtins, creating functions, ect.

In [196]:
import pandas as pd

In [197]:
filename = '/content/drive/MyDrive/Colab Notebooks/coding_dojo/files/titanic.csv'
df = pd.read_csv(filename)

## Data Clean Up: Wasn't apart of assigment, went through the setps for practice:

1. Looking and removing duplicates
2. Droping non-useful columns
3. Ticket column
4. Checking the Data types

*Notes: *
- Name could tell us missing sex (if it was worth going through all the missing values)

In [62]:
# df.describe()

In [63]:
# 1. Looking and removing duplicates

# Looked for duplicates
# df.duplicated()

# countes the amount
# df.duplicated().sum()

# drop the duplicates
df = df.drop_duplicates()

# checked to makes sure all the dupicates were dropped
df.duplicated().sum()

0

In [64]:
# 2. Droping non-useful columns
# df = df.drop(columns=["Unamed: 0", "PassengerId", "Name"])
df = df.drop(columns=["PassengerId", "Name"])
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
#3. Ticket column - Looking at unique values
df.nunique()

# removing ticket column is subjective
df.drop(columns=["Ticket"])

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [71]:
# 4. Checking the Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.6+ KB

In [70]:
#SiblingsSpouse
# df['SibSp'] = df["SibSp"].astype(int)
# df['SibSp'] = df["SibSp"].recplace('one',1)
# df['SibSp'] = df["SibSp"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.6+ KB

In [68]:
#  Cannot convert non-finite values (NA or inf) to integer - mst likely means missing values: Na,null,nan = missing values
df["Age"] = df["Age"].astype(int)

IntCastingNaNError: ignored

In [73]:
# check unique values and counts of the 'Sex' column
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [74]:
# df = df['Sex'].replace('F', 'female')
# df.value_counts()

## 1. Display the head of the dataframe.

In [263]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. What is the percentage of people who survived? (hint: find the mean of the survival column).

In [126]:
total_people = df.shape[0] 
total_survived = df[df['Survived'] == 1].shape[0]
  # total_survived
  # total_people

survival_rate = (total_survived / total_people) * 100
print(f"Survival Rate: {round(survival_rate, 2)}%")

Survival Rate: 38.38%

#### Better - using builtin methods

In [132]:
survival_rate1 = (df['Survived'] == 1).mean() * 100
print(f"Survival Rate: {round(survival_rate1, 2)}%")

Survival Rate: 38.38%

## 3. How many of each sex survived?

In [225]:
# df.loc[df['Sex'] == 'female', df['Survived'] == 1]
total_females = df['Sex'] == 'female'
total_males = df['Sex'] == 'male'
survived = df['Survived'] == 1

total_surriving_females = df[survived & total_females]
total_surriving_males = df[survived & total_males]

print(f"Total Surviving Males: {total_surriving_males.shape[0]}")
print(f"Total Surviving Females: {total_surriving_females.shape[0]}")

Total Surviving Males: 109
Total Surviving Females: 233

#### Better - using builtin methods

In [264]:
surriving_sexs = df.groupby('Sex')['Survived'].sum()

print(f"Total Surviving Males: {surriving_sexs[0]}")
print(f"Total Surviving Females: {surriving_sexs[1]}")

Total Surviving Males: 233
Total Surviving Females: 109

## 4. Considering only the group of passengers who paid less than $10, what percentage of this group survived?

In [267]:
survived = df['Survived'] == 1
paid_ten = df['Fare'] < 10
total_paid_ten_surrvived = ((df[paid_ten & survived].shape[0]) / total_people) * 100

print(f"Surrvival Rate >$10 tickets: {round(total_paid_ten_surrvived, 2)}%")

Surrvival Rate >$10 tickets: 7.52%

#### Better - using builtin methods

In [265]:
def percent(x):
  return round(((x / total_people) * 100),2)

In [266]:
output = percent(df[paid_ten & survived].shape[0])
print(f"Surrvival Rate >$10 tickets: {output}%")

Surrvival Rate >$10 tickets: 7.52%

## 5. Overall, what is the average age of those who didn't survive?

In [268]:
df1 = df[df['Survived'] == 0]
non_survivor = df1['Age'].mean()

print(f"Average age of non survivors: {round(non_survivor,2)}")

Average age of non survivors: 30.63

#### Better - using builtin methods

In [269]:
non_survivor1 = df.groupby(['Survived'])['Age'].mean()

print(f"Average age of non survivors: {round(non_survivor1[0],2)}")

Average age of non survivors: 30.63

## 6. Overall, what is the average age of those who did survive?

In [270]:
df2 = df[df['Survived'] == 1]
survivors = df2['Age'].mean()
print(f"Average age of non survivors: {round(survivors,2)}")

Average age of non survivors: 28.34

#### Better - using builtin methods

In [272]:
survivors1 = df.groupby('Survived')['Age'].mean()
print(f"Average age of non survivors: {round(survivors1[1],2)}")

Average age of non survivors: 28.34

## 7. What is the average age of those who did and didn't survive grouped by Sex?

In [234]:
# total_surriving_female's average age
dff = total_surriving_females['Age'].mean()

# total_surriving_male's average age
dfm = total_surriving_males['Age'].mean()

print("Total surriving ages and gender:")
print(f"Female: {round(dff,2)}")
print(f"Male: {round(dfm,2)}")

Total surriving ages and gender:
Female: 28.85
Male: 27.28

#### Better - using builtin methods

In [295]:
sex_survived_age_average = df.groupby(['Sex', 'Survived'])['Age'].mean()

print("Total Surriving Age:")
print(f"Female: {round(sex_survived_age_average[1],2)}")
print(f"Male: {round(sex_survived_age_average[3],2)}")

print()
print("Total Non-surrivor's Age:")
print(f"Female: {round(sex_survived_age_average[0],2)}")
print(f"Male: {round(sex_survived_age_average[2],2)}")

Total Surriving Age:
Female: 28.85
Male: 27.28

Total Non-surrivor's Age:
Female: 25.05
Male: 31.62